@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/bootstrap4-light-blue/theme.css';
@import '~primeicons/primeicons.css';

body{
  background-image: url("../rice.jpeg"); 
  background-color: #cccccc;
  height: 100%; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}