<div class="justify-content-center">
   <p-carousel [value]="((topRecipesWithMessages | async)?.data ?? [{}])" class="align-items-center" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
            <h3 class="pl-6">Top recipes</h3>
        </ng-template>
        <ng-template let-recipe pTemplate="item">
            <div>
                <div class="recipe-item-content surface-100 m-3 flex justify-content-center flex-wrap">
                    <div class="flex flex-wrap align-items-center justify-content-center p-3">
                        <div class="p-m-3 mt-3 align-items-center">
                            <p-image [src]="recipe.images?.[0]" alt="Ups.. failed to load image :(" width="100%" [preview]="false" class="recipe-image"></p-image>
                        </div>
                        <div>
                            <h4 class="p-mb-1">{{recipe.title}}</h4>
                            <h4 class="p-mb-1">Done in {{recipe.timeNeeded}} minutes</h4>
                            <h6 class="p-mt-0 p-mb-3">{{recipe.description}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>