<div class="card">
    <!-- <h3 class="p-3 my-center-text">Welcome {{user.name}}</h3> -->
    <div class="relative card-container green-container">
        <div class="formgrid grid border-solid m-1 static bg-green-200 p-4 border-round">
            <div class="field col-12 md:col-6">
                <label for="input-name">Name</label>
                <!-- <input id="input-name" type="text" [(ngModel)]="user.name" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">  -->
            </div>
            <div class="field col-12 md:col-6">
                <label for="input-surname">Surname</label>
                <input id="input-surname" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"> 
            </div>
            <div class="field col-12">
                <label for="input-email">Email</label>
                <input id="input-email" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-12 md:col-6">
                    <p for="input-password">Password</p>
                    <app-password-input></app-password-input>
            </div>
            <div class="field col-12 md:col-6">
                <p for="input-repeat-password">Repeat password</p>
                <app-password-input></app-password-input>
            </div>
            <div class="field col-12">
                <div>
                    <span class="p-buttonset">
                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-danger" routerLink="/"></button>
                        <button pButton pRipple label="Register" icon="pi pi-check" class="p-button-success" disabled></button>
                    </span>
                </div>
            </div>

        </div>
    </div>    
</div>